.About {
  width: 100%;
}

.about-text {
  text-align: left;
  margin-left: 10%;
}

.organisers {
  display: flex;
  margin-bottom: 30px;
}

.organisers-list {
  margin-right: 10%;
}

.organisers-item {
  flex-direction: column;
}

.about-block {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-item {
  min-width: 500px;
  max-width: 600px;
  width: 50%;
}

.university-picture {
  height: 400px;
  overflow: hidden;
  margin-bottom: 50px;
  margin-right: 10%;
}
