.About {
  width: 100%;
}

.about-text {
  text-align: left;
}

.organisers {
  display: flex;
  margin-bottom: 30px;
}

.organisers-list {
  margin-right: 10%;
}

.organisers-item {
  flex-direction: column;
}

.about-block {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.about-item {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.university-picture {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 50px;
  overflow: hidden;
}

@media (min-width: 900px) {
  .about-item {
    width: 50%;
  }

  .about-text {
    margin-left: 5%;
  }
}
