@import url('https://fonts.googleapis.com/css?family=Karma|');

.Cover {
  background-image: url('../images/Paolo3.jpg');
  width: 100%;
  /* background-size: 1280px; */
  background-position: center;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 250px;
}

.logos {
  margin-left: 20%;
}

.logo {
  margin: 30px;
  text-align: left;
}

.sfb {
  width: 250px;
  height: 100px;
}

.unisa {
  width: 100px;
  height: 100px;
}

.mainz {
  width: 100px;
  height: 100px;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: table;

}
section.ok{
  background-color: #555;
}

.conference-intro, .conference-subhead {
  font-family: 'Karma', serif;
}

.cover-text {
  margin: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.conference-head {
   margin-bottom: 0;
}

.conference-subhead {
  margin-top: 5px;
  margin-bottom: 40px;
}

.conference-dates {
  /* align-items: center;
  display: flex;
  justify-content: center; */
  position : absolute;
  width    : 300px;
  height   : 40px;
  left     : 50%;
  margin-left : -150px; /* half of the width  */
  margin-top  : -15px; /* half of the height */
  background-color: rgb(10, 13, 66);
  padding: 10px;
  /* margin-bottom: 30px; */
  /* margin-left: 20%;
  margin-right: 20%; */
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
