.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.faq-item {
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  width: 50%;
  /* min-width: 400px; */
}

.arrow {
  color: rgb(17, 65, 158);
}

.faq-title {
  background-color: white;
  padding: 20px;
  font-size: 1.2em;
}

.faq-title:hover {
  color: rgb(17, 65, 158);
  cursor: pointer;
}

.faq-content {
  border-top: 2px solid rgb(17, 65, 158);
  background-color: white;
  padding: 20px;
  margin: 0;
}

@media (min-width: 600px) {
  .faq-item {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .faq-item {
    width: 95%;
  }
}
