a {
  text-decoration: none;
  color: rgb(158, 39, 27);
}

.researchTalk-image {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}

.researchTalk {
  margin: 30px;
}

.name {
  margin: 5px;
}

.website {
  margin: 5px;
}

.lecture {
  margin: 5px;
}
