a {
  text-decoration: none;
}

.speaker-image {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}

.speaker {
  background-color: rgb(237, 245, 250);
  margin: 30px;
  padding: 10px;
  padding-bottom: 20px;
  width: 500px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  /* border-radius: 15px; */
}

.name {
  margin: 5px;
  font-weight: bold;
}

.website {
  margin: 5px;
}

.lecture {
  margin: 5px;
}

.abstract {
  color: rgb(16, 43, 124)
}

.abstract:hover {
  color: rgb(16, 43, 124);
  cursor: pointer;
}

.abstract-content {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
