a {
  text-decoration: none;
}

.speaker-image {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}

.speaker {
  margin: 30px;
  max-width: 400px;
}

.name {
  margin: 5px;
}

.website {
  margin: 5px;
}

.lecture {
  margin: 5px;
}

.abstract {
  color: rgb(16, 43, 124)
}

.abstract:hover {
  color: rgb(16, 43, 124);
  cursor: pointer;
}

.abstract-content {
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
